---
import { getTopicsUrl } from "../lib/content";

interface Props {
  tags: string[];
}

const { tags } = Astro.props;
---

{
  tags.length > 0 && (
    <ul class="tag-list" aria-label="文章 topics">
      {tags.map((tag) => (
        <li>
          <a href={getTopicsUrl([tag])}>
            <span class="tag-list__hash">#</span>
            <span>{tag}</span>
          </a>
        </li>
      ))}
    </ul>
  )
}
