---
import { getTagUrl } from "../lib/content";

interface Props {
  tags: string[];
}

const { tags } = Astro.props;
---

{
  tags.length > 0 && (
    <ul class="tag-list" aria-label="标签">
      {tags.map((tag) => (
        <li>
          <a href={getTagUrl(tag)}>{tag}</a>
        </li>
      ))}
    </ul>
  )
}
